# Ignore volatile UI-related state
.obsidian/workspace.json

# we don't need or want the WikMD drawings
.drawings/*

# we need to be able to hide things for short- or long-term 
# without necessarily updating .gitignore
# in particular this relates to workfiles in the migration process
hidden/

# Basic OS files
.DS_Store
Thumbs.db

# Obsidian variable settings
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/*sync\-conflict*.json


# Syncthing device-dependent files
.stfolder


# Transition files
*_new.md
*_old.md

